{% unless template contains 'password' %}

  {% assign enabled = settings.popup--enabled %}
  {% assign show-image = settings.popup--show-image %}
  {% assign newsletter-enabled = settings.popup--newsletter--enabled %}
  {% assign newsletter-title = settings.popup--newsletter-title--rt %}
  {% assign social-enabled = settings.popup--social-enabled %}
  {% assign social-title = settings.popup--social-title | escape %}
  {% assign days = settings.popup--days %}

  {% if enabled %}

    {% if component == 'link' %}
      <button class="popup--open button--link">{{ 'layout.header.follow' | t }}</button>
    {% elsif component == 'main' %}
      <div
        class="popup"
        data-show-again-after="{{ settings.popup--days-range }}"
        data-mode="{{ settings.popup--mode }}"
        data-popup--image="{{ show-image }}"
        data-js-class="Popup"
      >

        <div class="popup--container popup--closed">
          <div class="popup--wrapper">

            {% if settings.popup--show-image %}
              <div class="popup--left-column">
                {% if settings.popup--image %}
                  <img
                    class="popup--image"
                    src="{{ settings.popup--image | img_url: 'x450'  }}"
                    alt="{{ settings.popup--image.alt }}"
                  >
                {% else %}
                  {%
                    include "framework--placeholder",
                    type: "image",
                    aspect_ratio: "600x800"
                    custom_classes: "full-height popup--image"
                  %}
                {% endif %}
              </div>
            {% endif %}

            <div class="popup--center-column">
              {% if newsletter-title.size > 0 %}
                <div class="popup--newsletter-title rte-content font--text">{{ newsletter-title }}</div>
              {% endif %}

              <div class="popup--newsletter-form">
                {% include 'partial--mailing-list' with 'popup' %}
              </div>
            </div>

            {% if social-enabled %}
              <div class="popup--right-column">
                {% if newsletter-title.size > 0 %}
                  <h3 class="popup--social-title">{{ social-title }}</h3>
                {% endif %}

                  <div class="popup--social-icons">
                    {% include 'partial--social-media' with 'modal' %}
                  </div>
              </div>
            {% endif %}

            <button aria-label="{{ 'popup.close' | t }}" class="popup--close">
              {% include 'snippet-symbol' with 'cross' %}
            </button>
          </div>
        </div>
      </div>
    {% endif %}

  {% endif %}

{% endunless %}
