<footer
  class="layout--footer fw--blocks font--accent font--size-1 spacing--5x"
  data-js-class="Footer"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <div class="width--medium-7 text-align--left left-column">
    <ul class="footer-menu fw--blocks list spacing--3 compact--3x" role="navigation">
      {% for link in linklists[section.settings.menu].links %}
        <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>

    {% if shop.enabled_payment_types != empty and section.settings.show-payment-icons %}
      <div class="footer--payment-icons">
        {% include 'framework--payment-icons' %}
      </div>
    {% endif %}
  </div>

  <div class="width--medium-5 text-align--right right-column fw--blocks list spacing--3">
    {% if section.settings.show-copyright-text %}
      <span class="spacing--2x">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: '/' }}.</span>
    {% endif %}


  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer",
      "info": "This menu won't show submenu items."
    },
    {
      "type": "checkbox",
      "id": "show-copyright-text",
      "label": "Show copyright text",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show-payment-icons",
      "label": "Show payment icons",
      "default": false
    }
  ]
}
{% endschema %}