<header
  class="layout--header spacing--5x"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  data-js-class="Header"
  {% if section.settings.logo %}
    data-header--logo-height="{{ section.settings.logo-height-range }}"
    {% if section.settings.logo-height-range <= 45 %}
      data-header--logo-type="inline"
    {% else %}
      data-header--logo-type="overflowing"
    {% endif %}
  {% endif %}
>

  <noscript>
    <div class="container">
      <div class="left-side">
        {% include 'framework--logo' %}
        {% include 'framework--x-menu',
          js_class: 'XMenu',
          overlap_parent: 1,
          off_canvas: 'right-sidebar',
          handle: section.settings.menu
        %}
      </div>
      <div class="right-side fw--align--right">
        {% if settings.search--show-in-header %}
          <div class="header--search font--accent">
            <a href="/search">{{ 'general.search.search' | t }}</a>
          </div>
        {% endif %}

        {% include 'layout--login' %}

        <div class="cart-link font--accent">
          <a  href="{{ shop.url}}/cart">{{ 'cart.title' | t }}</a>
        </div>
      </div>
    </div>
  </noscript>

  <div class="header--y-menu-for-off-canvas">
    {% include 'framework--y-menu', handle: section.settings.menu %}
  </div>

  <div class="container show-after-js">
    <div class="left-side">
      {% include 'framework--logo' %}
      {% include 'framework--x-menu',
        js_class: 'XMenu',
        overlap_parent: 1,
        off_canvas: 'right-sidebar',
        handle: section.settings.menu
      %}
    </div>

    <div class="right-side">
      {% if settings.search--show-in-header %}
        <div class="header--search font--accent">
          <a href="/search">{{ 'general.search.search' | t }}</a>
        </div>
      {% endif %}

      {% include 'layout--login' %}
      {% include 'partial--popup', component: 'link' %}
      {% include 'framework--cart' %}

      <a class="header--cart-count font--accent {% if settings.cart--type == 'modal' %}fw--cart-modal--trigger-render{% endif %}" href="{{ shop.url }}/cart">
        <span class="count">{{ cart.item_count }}</span>
      </a>

      <div class="off-canvas--open" data-off-canvas--open="right-sidebar">
        {% include 'snippet-symbol' with 'menu' %}
      </div>
    </div>
  </div>

</header>

{% if section.settings.logo %}
  {% assign offset = section.settings.logo-height-range %}
  {% assign offset_small = section.settings.logo-height-range %}

  {% if offset > 75 %}
    {% assign offset_small = 75 %}
  {% endif %}

  {% if offset > 45 %}
    {% assign offset = offset | plus: 20 %}
    {% assign offset_small = offset_small | plus: 15 %}
    {% assign offset = offset | plus: 30 %}
  {% else %}
    {% assign offset = 50 %}
    {% assign offset_small = 50 %}
    {% assign offset = offset | plus: 60 %}
  {% endif %}


  {% assign offset_small = offset_small | plus: 30 %}

  <style>
    header .fw--logo img {
      height: {{ section.settings.logo-height-range }}px;
    }

    .layout--main-content {
      padding-top: {{ offset }}px;
    }

    @media only screen and (max-width: 767px) {
      .layout--main-content {
        padding-top: {{ offset_small }}px;
      }
    }

  </style>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "label": "Custom logo height",
      "id": "logo-height-range",
      "type": "range",
      "min": 15,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 35,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}