
{% assign source = 'Product - ' | append: product.title %}
<div
  data-section-id="{{ section.id }}"
  data-section-type="product_page"
  data-js-class="ProductPage"
>

  {% if section.settings.enable-modal %}
  <div class="modal--root" data-js-class="FrameworkModal">
  {% endif %}
    <div class="product fw--blocks">

      {% capture featured_image_classes %}
        featured-image
        text-align--center
        {% if settings.bg-color--body == settings.bg-color--panel %} same-color{% endif %}
      {% endcapture %}

      <div class="{{ featured_image_classes }}">
        <div class="product-page--header-container">

          {% if section.settings.position-title-above %}
            <a class="title fw--align--center-y show--large" href="{{ product.url }}">
              <h1 class="font--heading">
                {{ product.title }}
              </h1>
            </a>
          {% endif %}

          {% if section.settings.enable-modal %}<a tabindex="0" class="modal--link width--12">{% endif %}
            <div class="product-page--featured-image">
              <div class="product-page--image" data-image-id="{{ product.featured_image.id }}">
                {% include 'framework--image', image: product.featured_image, max_height: 600 %}
              </div>
            </div>
          {% if section.settings.enable-modal %}
            </a>
          {% endif %}

        </div>
      </div>

      {% capture add_to_cart_panel_classes %}
        add-to-cart-panel
        {% if settings.bg-color--body == settings.bg-color--panel %} same-color{% endif %}
      {% endcapture %}

      <div class="{{ add_to_cart_panel_classes }}">
        {% include 'partial--product' with 'product-page' %}
      </div>

      <div class="content spacing--5y fw--blocks">
        <div class="column left-side width--6"></div>
        <div class="column right-side width--6"></div>

        <div class="single-column text-align--center">
          <div class="block text text-align--left">
            <div class="description rte-content" itemprop="description">
              {{ product.description }}
            </div>
          </div>

          {% assign show_mailing_list = section.settings.show-mailing-list %}

          {% for image in product.images %}
            {% assign skip_image = false %}

            {% if forloop.first %}
              {% assign skip_image = true %}
            {% endif %}

            {% if section.settings.hide-variant-images and forloop.first == false %}
              {% for variant in product.variants %}
                {% if variant.image.src == image.src %}
                  <a class="photo image-wrapper hidden-variant-image">
                    <div class="product-page--image" data-image-id="{{ image.id }}">
                      {% include 'framework--image', image: image, max_height: 600 %}
                    </div>
                  </a>
                  {% assign skip_image = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if skip_image %}
              {% continue %}
            {% endif %}

            <a tabindex="0" class="block photo image-wrapper {% if section.settings.enable-modal %}modal--link{% endif %}">
              <div class="product-page--image" data-image-id="{{ image.id }}">
                {% include 'framework--image', image: image, max_height: 600 %}
              </div>
            </a>

            {% if forloop.index == 3 and show_mailing_list %}
              <div class="block">
                <div class="">
                  {% include 'partial--mailing-list' with source %}
                  {% assign show_mailing_list = false %}
                </div>
              </div>
            {% endif %}

          {% endfor %}

          {% if show_mailing_list %}
            <div class="block">
              <div class="">
                {% include 'partial--mailing-list' with source %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      {% if settings.social--sharing-products %}
        <div class="text-align--center">
          {% include 'partial--social-media' with 'product' %}
        </div>
        <div class="clearfix"></div>
      {% endif %}
    </div>

  {% if section.settings.enable-modal %}
    <div class="modal--content-wrapper">
      {% for image in product.images %}
        <div class="modal--content">
          <div class="product-page--image" data-image-id="{{ image.id }}">
            {% include 'framework--image', image: image %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div> {% comment %} /.modal--root {% endcomment %}
  {% endif %}


  {% if section.settings.show-related-collection %}
    {% include 'template--product--related-collection' %}
  {% endif %}

</div>

<script>
  theme.product = {};
  theme.product.json = {{ product | json }};
  theme.product.id = {{ product.id }};

  var selectCallback = function(variant, selector) {
    theme.partials.ProductPage.variantSelected(variant, selector);
    // add your selectCallback code here...

  };

  jQuery(function($) {
    new Shopify.OptionSelectors('product-select-' + theme.product.id, {
      product: theme.product.json,
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    {% if product.options.size == 1 %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}
  });
    setTimeout(function(){
   // $('.shopify-payment-button__button').text('Acheter');
    }, 1500);

</script>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "smart_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "position-title-above",
      "label": "Position title in featured image panel",
      "default": true,
      "info": "For screens larger than 1024px wide"
    },
    {
      "type": "checkbox",
      "id": "enable-modal",
      "label": "Enable image zoom",
      "default": true,
      "info": "Opens when clicking featured product image"
    },
    {
      "type": "checkbox",
      "id": "hide-variant-images",
      "label": "Hide variant images",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show-mailing-list",
      "label": "Show mailing list form",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show-related-collection",
      "label": "Show related collection",
      "default": true
    }
  ]
}
{% endschema %}